<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<connectionStrings>
		<add name ="strCon" providerName="System.Data.SqlClient" connectionString="SERVER=projectKTPM.mssql.somee.com;
			 USER=	khoa2181195_SQLLogin_1; PASSWORD=amgeltx8pj; DATABASE=projectKTPM"
				/>
	</connectionStrings>
</configuration>