<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PlaneShare.Properties.Settings.projectKTPMConnectionString"
            connectionString="Data Source=projectKTPM.mssql.somee.com;Initial Catalog=projectKTPM;User ID=khoa2181195_SQLLogin_1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>